{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Welcome on Our DjangoBlog{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}

    {% for p in post %}
        <article class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
            <figure>
                <a href="{% url 'singlepost' id=p.id %}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
            </figure>
            <span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category.name }}</a></span>
            <h2 class="fh5co-article-title"><a href="{% url 'singlepost' id=p.id %}">{{ p.title }}</a></h2>
            <span class="fh5co-meta fh5co-date">{{ p.postedOn }}</span>
        </article>
    {% endfor %}


{% endblock %}
{% block script %}{% endblock %}