{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profile | Blog{% endblock %}
{% block stylesheet %}
    <style type="text/css">
        #fh5co-offcanvas {
            width: auto;
        }
        #fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {
            width: 400px;
            padding: 50px;
        }
	</style>
{% endblock %}
{% block profile %}
    <div class="fh5co-bio">
        <figure>
            <img src="{% static 'images/person1.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        </figure>
        <h3 class="heading">About Me</h3>
        <h2>Emily Tran Le</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        <ul class="fh5co-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}

			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="single.html"><img src="{% static 'images/pic_1.jpg' %}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="single.html">Food &amp; Drink</a></span>
				<h2 class="fh5co-article-title"><a href="single.html">We Eat and Drink All Night</a></h2>
				<span class="fh5co-meta fh5co-date">March 6th, 2016</span>
			</article>


{% endblock %}
{% block script %}{% endblock %}