{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block profile %}
    <div class="fh5co-bio">
        <figure>
            <img src="{{ post.article_author.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        </figure>
        <h3 class="heading">About Me</h3>
        <h2>{{ post.article_author.name.get_full_name }}</h2>
        <h5>{{ post.article_author.name.email }}</h5>
        <p>{{ post.article_author.details }}</p>
        <ul class="fh5co-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    
    {% if post.id > first.id %}
    	<a href="{% url 'singlepost' id=post.id|add:'-1' %}" class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
    {% endif %}

    {% if post.id < last.id %}
    		<a href="{% url 'singlepost' id=post.id|add:'1' %}" class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
    {% endif %}

	<!-- END #fh5co-header -->
	<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<figure class="animate-box">
					<img src="{{ post.image.url }}" alt="Image" class="img-responsive" style="margin: 0 auto">
				</figure>
				<span class="fh5co-meta animate-box"><a href="{% url 'topic' name=post.category.name %}">{{ post.category.name }}</a></span>
				<h2 class="fh5co-article-title animate-box">{{ post.title }}</h2>
				<span class="fh5co-meta fh5co-date animate-box">{{ post.postedOn }}</span>
				
				<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
					<div class="row">
						<div class="col-lg-12 cp-r animate-box">
                            <p>{{ post.body }}</p>
                        </div>
					</div>
					
				</div>
			</article>
		</div>
        <div class="container">
            <h5 class="well">Related Article</h5>
            <div class="row">
                {% for r in related %}
                    <div class="col-md-3">
                        <figure class="animate-box">
                            <a href="{% url 'singlepost' id=r.id %}"><img src="{{ r.image.url }}" alt="Image" class="img-responsive" style="margin: 0 auto"></a>
                            <a href="{% url 'singlepost' id=r.id %}"><h2 class="fh5co-article-title animate-box">{{ r.title }}</h2></a>
                            <p>{{ r.body|truncatewords:15 }}</p>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
	</div>

{% endblock %}
{% block script %}{% endblock %}